name: Kiot to Sapo Sync (Test)

on:
  schedule:
    - cron: "*/10 * * * *"   # 10 phút chạy 1 lần
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Run sync test
        run: node sync.js
